In [82]:
# Import Libraries

import os
import pandas as pd
import requests as req
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
# from selenium import webdriver  
# from lxml import html

## Getting news from https://mars.nasa.gov/news/ web page

In [83]:
# Chromedriver execution

executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=True)

# URL path
url1="https://mars.nasa.gov/news/"
browser.visit(url1)
# Save html and parser
html=browser.html
soup = bs(html, "html.parser")

In [84]:
# Printing
news_date = soup.find('li', class_='slide').find('div', class_="list_date").text
print(news_date)
news_title = soup.find('div',class_="list_text").find('div', class_="content_title").text
print(news_title)
news_text = soup.find('div',class_="list_text").find('div',class_="article_teaser_body").text
print(news_text)

October 27, 2020
NASA's Perseverance Rover Is Midway to Mars
Sometimes half measures can be a good thing – especially on a journey this long. The agency's latest rover only has about 146 million miles left to reach its destination.

## Getting featured image from https://www.jpl.nasa.gov/spaceimages/ web page

In [86]:
# URL path
url2 = "https://www.jpl.nasa.gov/spaceimages/"

# Visiting url2 to click and response
browser.visit(url2)
browser.find_by_id('full_image').click()
time.sleep(3)

# Clicking on more info button
browser.links.find_by_partial_text('more info').click()

# Getting mage URL
featured_image_url = browser.find_by_xpath("//img[@class='main_image']")._element.get_attribute("src")

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17767_hires.jpg

## Getting Mars fact from https://space-facts.com/mars/ web page

In [89]:
# URL path
url3 = "https://space-facts.com/mars/"

# Finding all tables on a web page
table = pd.read_html(url3)
len(table)

3

In [93]:
# Pick first table (Mars facts)

table[0].columns = ['Parameter', 'Value']
mars_fact_data = table[0]
mars_fact_data

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [94]:
# Converting DataFrame to HTML table


fact_html = mars_fact_data.to_html()
print(fact_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>